# Build files
build/*

# Layershell-Qt
lib/3rdparty/layershell-qt/build/*
lib/3rdparty/layershell-qt/.reuse/*

# Clang-Tidy
.cache/*

# CI Pipelines
ci_build/*
!ci_build/README.md

# QML Config
.qmlls.ini

# IDE Config
.vscode/settings.json
.claude/*

# Notes
private/*
